<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/notes"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ note.title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-textarea (input)="noteChanged()" [(ngModel)]="note.content" placeholder="...something on your mind?"></ion-textarea>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="light" (click)="deleteNote()">
          <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  </ion-content>
